description = "About security audit"
==
<section class="about">
  <div class="container">
    <div class="block-head">
      <h2 class="title">About</h2>
      <p class="text">Being the Leading Smart Contract Creator, with over 46 000 smart contracts launched on various blockchain protocols, ROCK'N'BLOCK strives to bring the blockchain network to mass adoption by making it secure, simple, and user-friendly.
        <br />
        <br />Our team is striving to share our expertise in blockchain development and cyber security with other projects working in the crypto and blockchain industry as well as other enthusiasts. Along with the growing interest in blockchain technology and crypto, the industry is getting extensive attention from hackers.
      </p>
    </div>
  </div>
</section>