description = "Achievements security audit"
==
<section class="achievements">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Our achievements</h2>
    </div>
    <div class="content"><img loading="lazy" src="{{ 'assets/images/site/security-audit/binance.svg'| theme }}" alt="binance smart chain" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/neo.svg'| theme }}" alt="neo" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/polygon.svg'| theme }}" alt="polygon" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/certic.svg'| theme }}" alt="certic" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/tron.svg'| theme }}" alt="tron" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/waves.svg'| theme }}" alt="waves" /></div>
  </div>
</section>