description = "Hero security audit"
==
<section class="hero">
  <div class="container">
    <div class="block-head">
      <h1 class="title">ROCK'N'BLOCK Blockchain <span>Security Audit</span></h1>
      <p class="text">Don’t let a security threat ruin your day. Have your code checked for Security, Vulnerabilities and Errors</p><a class="button" href="#contact-us">Request Audit <img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
    <picture class="img">
      <source type="image/webp" srcset="{{ 'assets/images/site/security-audit/hero.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/hero.png'| theme }}" alt="security audit" />
    </picture>
  </div>
</section>