description = "Numbers security audit"
==
<section class="numbers">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Some <span>numbers</span>:</h2>
    </div>
    <div class="content">
      <div class="numbers-item">
        <h3 class="title">$3,7</h3><span class="number"> Trillion </span><span class="text">were lost by hacker attacks in 2020</span>
      </div>
      <div class="numbers-item">
        <h3 class="title">$3.86</h3><span class="number">million</span><span class="text">were lost by hacker attacks in 2020</span>
      </div>
      <div class="numbers-item">
        <h3 class="title">2,200</h3><span class="text">cyberattacks Daily </span>
      </div>
    </div>
  </div>
</section>