description = "Partners security audit"
==
<section class="partners">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Partners</h2>
    </div>
    <div class="content">
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/binance-logo.svg'| theme }}" alt="binance smart chain logo" /><span class="title">Binance</span></div>
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/waves-logo.svg'| theme }}" alt="waves logo" /><span class="title">Waves</span></div>
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/neo-logo.svg'| theme }}" alt="neo logo" /><span class="title">NEO</span></div>
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/okex.svg'| theme }}" alt="okex logo" /><span class="title">OKEX</span></div>
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/meetone-logo.svg'| theme }}" alt="meet.one logo" /></div>
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/bancor-logo.svg'| theme }}" alt="bancor logo" /><span class="title">Bancor</span></div>
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/polonidex-logo.svg'| theme }}" alt="poloni dex logo" /></div>
      <div class="partners-item"><img loading="lazy" src="{{ 'assets/images/site/security-audit/bestrate-logo.svg'| theme }}" alt="best rate logo" /></div>
    </div>
  </div>
</section>