description = "Security security audit"
==
<section class="security">
  <div class="container">
    <picture class="img">
      <source type="image/webp" srcset="{{ 'assets/images/site/security-audit/locks.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/locks.png'| theme }}" alt="security audit locks" />
    </picture>
    <div class="block-head">
      <h2 class="title">What are <span>security <br /></span>audits for?</h2>
      <p class="text">Security and vulnerabilities assessment will allow to define code errors, vulnerabilities, and program logic check. Highly professional and profound audit report will save you time and funds and foresee the possible cyber threats.</p><a class="button" href="#contact-us">Contact us now<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
  </div>
</section>