description = "Solution security audit"
==
<section class="solution">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Solution</h2>
    </div>
    <div class="content">
      <h3 class="title">Contracts and Blockchain protocols security assessment</h3>
      <p class="text">Have your contract, DApp, Blockchain protocol checked to define code errors, vulnerabilities, and foresee threats.</p><a class="button" href="#contact-us">Learn more<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
  </div>
</section>