description = "Trust security audit"
==
<section class="trust">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Trust from users</h2>
    </div>
    <div class="content">
      <div class="trust-item"><span class="number">4</span><span class="title">years</span></div>
      <div class="trust-item"><span class="number">28,544</span><span class="title">Smart <br /> Contracts</span></div>
      <div class="trust-item"><span class="number">40,324</span><span class="title">users</span></div>
    </div>
  </div>
</section>