description = "Why security audit"
==
<section class="why">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Why ROCK'N'BLOCK <span>Audit report</span></h2>
    </div>
    <div class="content">
      <div class="why-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/security-audit/skilled.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/skilled.png'| theme }}" alt="skilled" />
        </picture>
        <p class="text">Highly skilled team of auditors with over than 10 years of experience.</p>
      </div>
      <div class="why-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/security-audit/solution.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/solution.png'| theme }}" alt="solution" />
        </picture>
        <p class="text">Complete solution from the 0 point to the security recommendations implementation.</p>
      </div>
      <div class="why-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/security-audit/contract.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/contract.png'| theme }}" alt="contract" />
        </picture>
        <p class="text">Experience of Smart contracts development (over 30 000 smart contracts deployed)</p>
      </div>
      <div class="why-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/security-audit/tests.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/security-audit/tests.png'| theme }}" alt="tests" />
        </picture>
        <p class="text">Combination of manual and auto tests</p>
      </div>
    </div><a class="button" href="#contact-us">Get free consulatation<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
  </div>
</section>