description = "Benefits dex"
==
<section class="benefits">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Business Benefits</h2>
    </div>
    <div class="content">
      <div class="benefits-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/dex/web.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/dex/web.png'| theme }}" alt="web" />
        </picture>
        <h3 class="title">No Third-Party Involvement</h3>
        <p class="text">There is no longer a need for an intermediary. Consequently, users are responsible for their own funds, not a centralized platform (keys can be stolen or hacked).</p>
      </div>
      <div class="benefits-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/dex/money.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/dex/money.png'| theme }}" alt="money" />
        </picture>
        <h3 class="title">Higher level of privacy</h3>
        <p class="text">Users are responsible for their funds and there is no middleman in the form of a platform, there is no possibility of censorship (deposits cannot be frozen and users cannot be blocked), no KYC is required to access trading opportunities, and all trading is anonymous.</p>
      </div>
      <div class="benefits-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/dex/blockchain.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/dex/blockchain.png'| theme }}" alt="rubik" />
        </picture>
        <h3 class="title">No Centralized Server Info</h3>
        <p class="text">as there is no supervisory authority, and more importantly, in DEX you can generally do any type of exchange between assets, so you are not limited to instrument listing conditions like in CEX.</p>
      </div>
    </div>
  </div>
</section>