description = "Cases dex"
==
<section class="cases">
  <div class="block-head">
    <h2 class="title">Cases</h2>
  </div>
  <div class="content">
    <div class="swiper swiper-cases">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/dex/slide1.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/dex/slide1.png'| theme }}" alt="case" />
          </picture>
        </div>
        <div class="swiper-slide slide">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/dex/slide2.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/dex/slide2.png'| theme }}" alt="case" />
          </picture>
        </div>
        <div class="swiper-slide slide">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/dex/slide3.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/dex/slide3.png'| theme }}" alt="case" />
          </picture>
        </div>
      </div>
      <div class="navigation"><img class="navIcon case-nav-prev" src="{{ 'assets/images/site/nft/toLeft.svg'| theme }}" alt="nav left" /><img class="navIcon case-nav-next" src="{{ 'assets/images/site/nft/toRight.svg'| theme }}" alt="nav right" /></div>
    </div>
  </div>
</section>