description = "Decentrlized dex"
==
<section class="decentrlized">
  <div class="container">
    <div class="block-head">
      <h2 class="title"> <span>Decentralized </span>Exchange Development Services</h2>
    </div>
    <div class="content">
      <div class="decentrlized-item"><img loading="lazy" src="{{ 'assets/images/site/dex/software.svg'| theme }}" alt="DEX software from scratch" />
        <h3 class="title">DEX software from scratch</h3>
      </div>
      <div class="decentrlized-item"><img loading="lazy" src="{{ 'assets/images/site/dex/development.svg'| theme }}" alt="White Label DEX development" />
        <h3 class="title">White Label DEX development</h3>
      </div>
      <div class="decentrlized-item"><img loading="lazy" src="{{ 'assets/images/site/dex/readymade.svg'| theme }}" alt="DEX readymade script" />
        <h3 class="title">DEX readymade script</h3>
      </div>
      <div class="decentrlized-item"><img loading="lazy" src="{{ 'assets/images/site/dex/hybride.svg'| theme }}" alt="hybride DEX services" />
        <h3 class="title">hybride DEX services</h3>
      </div>
    </div><a class="button" href="#contact-us">Get free consulatation<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
  </div>
</section>