description = "Security dex"
==
<section class="security">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Smart Contracts <br /><span>Security Audit</span></h2>
    </div>
    <div class="content">
      <a class="security-item" href="#" target="_blank"><img loading="lazy" src="{{ 'assets/images/site/dex/certic.svg'| theme }}" alt="certic logo" /></a>
      <a class="security-item" href="#" target="_blank"><img loading="lazy" src="{{ 'assets/images/site/dex/hacken.svg'| theme }}" alt="hacken logo" /></a>
      <a class="security-item" href="/security-audit" target="_blank"><img loading="lazy" src="{{ 'assets/images/site/dex/rocknblock.svg'| theme }}" alt="rocknblock logo" /></a>
    </div>
  </div>
</section>