description = "Solution dex"
==
<section class="solution">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Get your custom <br /><span>DEX solution</span></h2>
      <p class="text">Rock’n’Block customized DEX platform and app solutions are built to foster enterprise market value and enhance high-end securities. We are a certified decentralized exchange development company, hence you visualize and we develop.</p>
    </div><a class="button" href="#contact-us">Contact us now<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    <picture class="img">
      <source type="image/webp" srcset="{{ 'assets/images/site/dex/solutions.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/dex/solutions.png'| theme }}" alt="solutions" />
    </picture>
  </div>
</section>