description = "Technologies dex"
==
<section class="technologies">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Our stack <span>technologies</span></h2>
      <p class="text">Rock’n’Block decentralized exchange development platforms are built using the latest technical capabilities, secure methods, and creative design. Therefore, the following tools are used to develop our websites and applications to ensure a hassle-free user experience.</p>
    </div>
    <div class="content">
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/solidity.svg'| theme }}" alt="Solidity" /></div>
        <h3 class="title">Solidity</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/nodejs.svg'| theme }}" alt="Node.js" /></div>
        <h3 class="title">Node.js</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/reactnative.svg'| theme }}" alt="React Native" /></div>
        <h3 class="title">React Native</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/nativescript.svg'| theme }}" alt="native Script" /></div>
        <h3 class="title">native Script</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/rust.svg'| theme }}" alt="Rust" /></div>
        <h3 class="title">Rust</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/ethereum.svg'| theme }}" alt="Ethereum" /></div>
        <h3 class="title">Ethereum</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/polygon.svg'| theme }}" alt="Polygon" /></div>
        <h3 class="title">Polygon</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/avalanche.svg'| theme }}" alt="Avalanche" /></div>
        <h3 class="title">Avalanche</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/solana.svg'| theme }}" alt="Solana" /></div>
        <h3 class="title">Solana</h3>
      </div>
      <div class="technologies-item">
        <div class="img"><img loading="lazy" src="{{ 'assets/images/site/dex/binancesmartchain.svg'| theme }}" alt="Binance Smart Chain" /></div>
        <h3 class="title">Binance Smart Chain</h3>
      </div>
    </div>
  </div>
</section>