description = "What is dex"
==
<section class="what-is-dex">
  <div class="container">
    <div class="block-head">
      <h2 class="title">What is a <span>DEX</span>?</h2>
      <p class="text">DEX is based on a decentralized system - meaning that the server side of these exchanges exists on a blockchain.
        <br />
        <br /> Using smart contracts that allow users full control over their assets before a transaction takes place. Thus, DEX is a more secure way to trade because we can avoid some of the restrictions of centralization, such as sanctions. Decentralization is provided by the DAO - a frequent DEX accomplice. All critical decisions are made independently by the community.
      </p>
    </div>
  </div>
</section>