description = "Advanced launchpad"
==
<section class="advanced">
  <div class="container">
    <div class="block-head">
      <picture class="img">
        <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/advanced-rocket.webp'| theme }}" />
        <img loading="lazy" src="{{ 'assets/images/site/launchpad/advanced-rocket.png'| theme }}" alt="Rocket" />
      </picture>
      <h2 class="title">Our <span>Advanced </span>Options</h2>
    </div>
    <div class="content">
      <div class="advanced-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/tree.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/tree.png'| theme }}" alt="Token Investment" />
        </picture>
        <div class="advanced-item-content">
          <div class="advanced-item-content-wrap">
            <div class="label">Easy to start</div>
            <h3 class="title">Token Investment</h3>
            <p class="text">Our platform allows the user to invest tokens in decentralized exchanges, to make purchases, or to store value. We ensure to provide high token investments to the project which are used to raise funds for token sales. </p><a class="btn">Learn More<img loading="lazy" src="{{ 'assets/images/site/launchpad/link.svg'| theme }}" alt="arrow link" /></a>
          </div>
        </div>
      </div>
      <div class="advanced-item reverce">
        <div class="advanced-item-content">
          <div class="advanced-item-content-wrap">
            <div class="label">Easy to start</div>
            <h3 class="title">Multi-Tiered Staking Module</h3>
            <p class="text">Our launchpad has the ability to allow administrators to create multiple tiers for investors to take part in the funding rounds which are based on the tokens that are staked on the platform. </p><a class="btn">Learn More<img loading="lazy" src="{{ 'assets/images/site/launchpad/link.svg'| theme }}" alt="arrow link" /></a>
          </div>
        </div>
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/pc.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/pc.png'| theme }}" alt="Multi-Tiered Staking Module" />
        </picture>
      </div>
      <div class="advanced-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/cp.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/cp.png'| theme }}" alt="Wallet Integration" />
        </picture>
        <div class="advanced-item-content">
          <div class="advanced-item-content-wrap">
            <div class="label">Accessible for everyone</div>
            <h3 class="title">Wallet Integration</h3>
            <p class="text">Our launchpad possesses the feature of integrating digital wallets. It allows users to receive tokens from multiple crypto projects.</p><a class="btn">Learn More<img loading="lazy" src="{{ 'assets/images/site/launchpad/link.svg'| theme }}" alt="arrow link" /></a>
          </div>
        </div>
      </div>
      <div class="advanced-item reverce">
        <div class="advanced-item-content">
          <div class="advanced-item-content-wrap">
            <div class="label">Easy to start</div>
            <h3 class="title">KYC Compliance </h3>
            <p class="text">Our KYC compliance feature allows the platform owner to accept the user’s identity proof before they receive approval to use the platform. </p><a class="btn">Learn More<img loading="lazy" src="{{ 'assets/images/site/launchpad/link.svg'| theme }}" alt="arrow link" /></a>
          </div>
        </div>
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/shield.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/shield.png'| theme }}" alt="KYC Compliance " />
        </picture>
      </div>
    </div>
  </div>
</section>