description = "Expertise launchpad"
==
<section class="expertise">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Our Expertise LaunchPAD Development Service</h2>
      <p class="text">Rock’n’Block offers a powerful launchpad that facilitates listing your blockchain project for better market visibility. The launchpad serves as a showcasing platform to raise funds for our project by outsourcing your project and builds trust among the investors to rely on your project as a profitable investment opportunity.</p><a class="button" href="#contact-us">Talk to our experts<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
    <div class="content">
      <div class="expertise-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/red-crown.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/red-crown.png'| theme }}" alt="ICO Initial Coin Offering" />
        </picture>
        <h3 class="title">ICO Initial Coin Offering</h3>
      </div>
      <div class="expertise-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/red-money.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/red-money.png'| theme }}" alt="IEO Initial Exchange Offering" />
        </picture>
        <h3 class="title">IEO Initial Exchange Offering</h3>
      </div>
      <div class="expertise-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/red-chart.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/red-chart.png'| theme }}" alt="IDO Initial DEX Offering stability" />
        </picture>
        <h3 class="title">IDO Initial DEX Offering stability</h3>
      </div>
      <div class="expertise-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/red-tree.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/red-tree.png'| theme }}" alt="IFO Initial Farming Offering" />
        </picture>
        <h3 class="title">IFO Initial Farming Offering</h3>
      </div>
      <div class="expertise-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/red-hand.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/red-hand.png'| theme }}" alt="ILO Initial Liquidity Offering" />
        </picture>
        <h3 class="title">ILO Initial Liquidity Offering</h3>
      </div>
      <div class="expertise-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/red-shield.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/red-shield.png'| theme }}" alt="IIO Initial Insurance Offering" />
        </picture>
        <h3 class="title">IIO Initial Insurance Offering</h3>
      </div>
    </div>
  </div>
</section>