description = "Features launchpad"
==
<section class="features">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Features of <span> LaunchPAD </span>VISIBILITY</h2>
      <p class="text">Our blockchain development company ensures to create a powerful launchpad for our clients that lists your business entity for better visibility.</p>
    </div>
    <div class="content"><span class="title">TOP FUNDRAISING MODEL</span>
      <div class="features-img"><img class="img" loading="lazy" src="{{ 'assets/images/site/launchpad/features.svg'| theme }}" alt="features of launchpad" /></div>
    </div>
  </div>
</section>