description = "Hero launchpad"
==
<section class="hero">
  <div class="container">
    <div class="block-head">
      <h1 class="title">White Lable <span>LaunchPAD </span>Development Solutions</h1>
      <p class="text">A decentralized launchpad that allows easy listing and running of the exceptional projects. </p><a class="button" href="#contact-us">ORDER LAUNCHPAD<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
  </div>
</section>