description = "Numbers launchpad"
==
<section class="numbers">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Numbers tell about us</h2>
    </div>
    <div class="content">
      <div class="numbers-item">
        <div class="numbers-item-img">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/user.webp'| theme }}" />
            <img loading="lazy" src="{{ 'assets/images/site/launchpad/user.png'| theme }}" alt="user" />
          </picture>
        </div>
        <div class="numbers-item-content">
          <h3 class="title">250+ Projects</h3>
          <p class="text">created on-a-turn-key basis</p>
        </div>
      </div>
      <div class="numbers-item">
        <div class="numbers-item-img">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/blockchain.webp'| theme }}" />
            <img loading="lazy" src="{{ 'assets/images/site/launchpad/blockchain.png'| theme }}" alt="blockchain" />
          </picture>
        </div>
        <div class="numbers-item-content">
          <h3 class="title">15 000+ </h3>
          <p class="text">smart contracts deployed</p>
        </div>
      </div>
      <div class="numbers-item">
        <div class="numbers-item-img">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/money-bag.webp'| theme }}" />
            <img loading="lazy" src="{{ 'assets/images/site/launchpad/money-bag.png'| theme }}" alt="money-bag" />
          </picture>
        </div>
        <div class="numbers-item-content">
          <h3 class="title">50+ Team</h3>
          <p class="text">members (mostly developers)</p>
        </div>
      </div>
      <div class="numbers-item">
        <div class="numbers-item-img">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/paper.webp'| theme }}" />
            <img loading="lazy" src="{{ 'assets/images/site/launchpad/paper.png'| theme }}" alt="paper" />
          </picture>
        </div>
        <div class="numbers-item-content">
          <h3 class="title">1 Bn+ dollar </h3>
          <p class="text">capitalization of the projects we have built</p>
        </div>
      </div>
      <div class="numbers-item">
        <div class="numbers-item-img">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/rocket.webp'| theme }}" />
            <img loading="lazy" src="{{ 'assets/images/site/launchpad/rocket.png'| theme }}" alt="rocket" />
          </picture>
        </div>
        <div class="numbers-item-content">
          <h3 class="title">15+ years</h3>
          <p class="text">of development experience</p>
        </div>
      </div>
      <div class="numbers-item">
        <div class="numbers-item-img">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/support.webp'| theme }}" />
            <img loading="lazy" src="{{ 'assets/images/site/launchpad/support.png'| theme }}" alt="support" />
          </picture>
        </div>
        <div class="numbers-item-content">
          <h3 class="title">ANY blockchain</h3>
          <p class="text">integration with and development</p>
        </div>
      </div>
    </div>
  </div>
</section>