description = "Features"
==
<section class="features">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Features of GameFI</h2>
    </div>
    <div class="content">
      <div class="features-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/auction.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/auction.png'| theme }}" alt="auction" />
        </picture>
        <h3 class="title">Auction House</h3>
        <p class="text">Fair and trustless bidding of rare and valuable in-game items.</p>
      </div>
      <div class="features-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/startup.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/startup.png'| theme }}" alt="startup" />
        </picture>
        <h3 class="title">Game Launchpad</h3>
        <p class="text">The only game-specific launchpad, designed to be chain-agnostic.</p>
      </div>
      <div class="features-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/rubik.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/rubik.png'| theme }}" alt="rubik" />
        </picture>
        <h3 class="title">Minigames</h3>
        <p class="text">Simple blockchain games to help new crypto adopters get acquainted with NFTs and Play to Earn models.</p>
      </div>
      <div class="features-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/store.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/store.png'| theme }}" alt="store" />
        </picture>
        <h3 class="title">Game Market</h3>
        <p class="text">Multi-chain NFT marketplace exclusively for blockchain game items.</p>
      </div>
      <div class="features-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/money.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/money.png'| theme }}" alt="money" />
        </picture>
        <h3 class="title">Yield Guild</h3>
        <p class="text">Token holders can finance Play to Earn gameplay through Scholarships and other creative activities.</p>
      </div>
      <div class="features-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/blocks.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/blocks.png'| theme }}" alt="blocks" />
        </picture>
        <h3 class="title">Game Aggregator</h3>
        <p class="text">Access games and gaming assets of any blockchain from a single user dashboard.</p>
      </div>
    </div>
  </div>
</section>