description = "Hero gamefi"
==
<section class="hero">
	<div class="container">
		<div class="block-head">
			<h1 class="title">GameFi Development</h1>
			<p class="text">GameFi new round of game development industry that is increasingly attracting gamers </p><a class="button" href="#contact-us">Create your unique game<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
			<picture class="img">
				<source type="image/webp" srcset="{{ 'assets/images/site/gamefi/hero-bottom.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/hero-bottom.png'| theme }}" alt="Gamefi development" />
			</picture>
		</div>
		<picture class="imgmain">
			<source type="image/webp" srcset="{{ 'assets/images/site/gamefi/hero-main.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/hero-main.png'| theme }}" alt="Gamefi development" />
		</picture>
	</div>
</section>