description = "Profits"
==
<section class="profits">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Profits</h2>
    </div>
    <div class="content">
      <div class="profits-item reverce">
        <div class="profits-item-content">
          <div class="profits-item-content-wrap">
            <h3 class="title">For Game Projects</h3>
            <ul class="list">
              <li>Eased holder and player relations</li>
              <li>Player-centric development funding</li>
              <li>Rapid exposure to the game and its items</li>
            </ul>
          </div>
        </div>
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/for-game-projects.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/for-game-projects.png'| theme }}" alt="Game Projects" />
        </picture>
      </div>
      <div class="profits-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/for-game-investors.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/for-game-investors.png'| theme }}" alt="Game Investors" />
        </picture>
        <div class="profits-item-content">
          <div class="profits-item-content-wrap">
            <h3 class="title">For Game Investors</h3>
            <ul class="list">
              <li>Eased onboarding of scholars</li>
              <li>First access to major games' tokens</li>
              <li>Better liquidity for game assets</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profits-item reverce">
        <div class="profits-item-content">
          <div class="profits-item-content-wrap">
            <h3 class="title">For Game Players</h3>
            <ul class="list">
              <li>No-cost access to play2earn games as a scholar</li>
              <li>Quick and easy access and features of all games</li>
              <li>A liquid market for all game items </li>
            </ul>
          </div>
        </div>
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/for-game-players.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/for-game-players.png'| theme }}" alt="Game Players" />
        </picture>
      </div>
    </div>
  </div>
</section>