description = "Team"
==
<section class="team">
  <div class="container">
    <picture class="img">
      <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/gamepad.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/gamefi/gamepad.png'| theme }}" alt="Gamepad" />
    </picture>
    <p class="text">Our team consists of game development professionals. We develop on all types of blockchain, i.e. Ethereum, Binance Smart Chain, Polygon, NEAR and others. We will implement all your ideas and make it better.</p><a class="button" href="#contact-us">Contact us now<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
  </div>
</section>