description = "What is gamefi"
==
<section class="what-is-gamefi">
  <div class="container">
    <div class="block-head">
      <h2 class="title">What is <span>GameFi</span>?</h2>
      <p class="text">GameFi is a fusion of the words game and finance. It refers to play-to-earn blockchain games that offer economic incentives to players. The GameFi ecosystem uses cryptocurrencies, non-fungible tokens (NFTs), and blockchain technology to create a virtual gaming environment.</p>
    </div>
  </div>
</section>