==
<section class="rnb-service" id="solutions">
  <div class="container">
    <div class="block-header">
      <h2 class="primary-header">Solutions and Services</h2>
    </div>
    <div class="content">
      <a class="rnb-service-item" href="/marketplace">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site1.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/farming/icon-site1.png'| theme }}" alt="NFT Marketplace" />
        </picture>
        <div class="info-block">
          <h3 class="title">NFT Marketplace</h3>
          <p class="text">A place to observe and trade NFTs</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/farming">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site2.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/farming/icon-site2.png'| theme }}" alt="Farming" />
        </picture>
        <div class="info-block">
          <h3 class="title">Farming</h3>
          <p class="text">A tool for locking tokens to get a reward</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/10knft">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site3.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/farming/icon-site3.png'| theme }}" alt="10k nft generator" />
        </picture>
        <div class="info-block">
          <h3 class="title">10k nft generator</h3>
          <p class="text">Create 10,000 random NFTs based on traits</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/crowdsale">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site4.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/farming/icon-site4.png'| theme }}" alt="Crowdsale" />
        </picture>
        <div class="info-block">
          <h3 class="title">Crowdsale</h3>
          <p class="text">A platform to raise funds for your project</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/vesting">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site5.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/farming/icon-site5.png'| theme }}" alt="Vesting" />
        </picture>
        <div class="info-block">
          <h3 class="title">Vesting</h3>
          <p class="text">A smart contract protecting investors’ funds</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/staking">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site6.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/farming/icon-site6.png'| theme }}" alt="Staking" />
        </picture>
        <div class="info-block">
          <h3 class="title">Staking</h3>
          <p class="text">A platform to stake tokens and get ones</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/bridge">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/farming/icon-site7.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/farming/icon-site7.png'| theme }}" alt="Bridge" />
        </picture>
        <div class="info-block">
          <h3 class="title">Bridge</h3>
          <p class="text">A way to transfer tokens between different blockchains</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/launchpad">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/launchpad/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/launchpad/icon-site.png'| theme }}" alt="Launchpad" />
        </picture>
        <div class="info-block">
          <h3 class="title">Launchpad</h3>
          <p class="text">A platform to launch a blockchain project</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/tools">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/icon-site.png'| theme }}" alt="Tools" />
        </picture>
        <div class="info-block">
          <h3 class="title">Tools</h3>
          <p class="text">Anything that a trader needs</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/safemoon">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/icon-site.png'| theme }}" alt="Safemoon" />
        </picture>
        <div class="info-block">
          <h3 class="title">Safemoon</h3>
          <p class="text">Your deflationary token like SafeMoon</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/gamefi">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/gamefi/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/gamefi/icon-site.png'| theme }}" alt="Gamefi" />
        </picture>
        <div class="info-block">
          <h3 class="title">Gamefi</h3>
          <p class="text">P2P game development</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/dex">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/dex/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/dex/icon-site.png'| theme }}" alt="Dex" />
        </picture>
        <div class="info-block">
          <h3 class="title">Dex</h3>
          <p class="text">Decentralized exchange</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/metaverse">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/metaverse/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/metaverse/icon-site.png'| theme }}" alt="Metaverse" />
        </picture>
        <div class="info-block">
          <h3 class="title">Metaverse</h3>
          <p class="text">A blockchain-based digital world</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/security-audit">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/security-audit/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/security-audit/icon-site.png'| theme }}" alt="Security Audit" />
        </picture>
        <div class="info-block">
          <h3 class="title">Security Audit</h3>
          <p class="text">Code screening and bug fixing</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/consulting">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/consulting/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/consulting/icon-site.png'| theme }}" alt="Consulting Services" />
        </picture>
        <div class="info-block">
          <h3 class="title">Consulting</h3>
          <p class="text">Helping you to create a project</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/token-generator">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/no-code/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/no-code/icon-site.png'| theme }}" alt="Blockchain Solutions" />
        </picture>
        <div class="info-block">
          <h3 class="title">Blockchain Solutions</h3>
          <p class="text">Token generator with no coding</p>
        </div>
      </a>
      <a class="rnb-service-item" href="/rust">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/rust/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/rust/icon-site.png'| theme }}" alt="Rust" />
        </picture>
        <div class="info-block">
          <h3 class="title">Rust</h3>
          <p class="text">DApp development on Rust</p>
        </div>
      </a>
      <span class="rnb-service-item">
        <picture class="rnb-service-item-img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tokenization/icon-site.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tokenization/icon-site.png'| theme }}" alt="Property Tokenization" />
        </picture>
        <div class="info-block">
          <h3 class="title">Property Tokenization</h3>
          <p class="text">Soon</p>
        </div>
      </span>
    </div>
  </div>
</section>