description = "Rust benefits"
==
<section class="benefits">
	<div class="container">
		<div class="block-head">
			<h2 class="title">What are the other benefits of <span>using Rust</span>?</h2>
			<p class="text">There is so much to say about the benefits of using the Rust programming language, and there is just not enough space here to cover it all.</p>
		</div>
		<div class="content">
			<div class="benefits-item">
				<picture class="img">
					<source type="image/webp" srcset="{{ 'assets/images/site/rust/benefit-perfomance.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/rust/benefit-perfomance.png'| theme }}" alt="High Perfomance" />
				</picture>
				<h3 class="title">High Perfomance</h3>
				<p class="text">performance oriented and programs written in it are predictably fast.</p>
			</div>
			<div class="benefits-item">
				<picture class="img">
					<source type="image/webp" srcset="{{ 'assets/images/site/rust/benefit-memory.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/rust/benefit-memory.png'| theme }}" alt="Memory Safety" />
				</picture>
				<h3 class="title">Memory Safety</h3>
				<p class="text">no crashes, no data jumps and complete control over the memory lifecycle</p>
			</div>
			<div class="benefits-item">
				<picture class="img">
					<source type="image/webp" srcset="{{ 'assets/images/site/rust/benefit-capabilities.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/rust/benefit-capabilities.png'| theme }}" alt="Cross-Platform Capabilities" />
				</picture>
				<h3 class="title">Cross-Platform Capabilities</h3>
				<p class="text">facilitate easy deployment and migration of applications.</p>
			</div>
			<div class="benefits-item">
				<picture class="img">
					<source type="image/webp" srcset="{{ 'assets/images/site/rust/benefit-assurance.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/rust/benefit-assurance.png'| theme }}" alt="Assurance of reliability" />
				</picture>
				<h3 class="title">Assurance of reliability</h3>
				<p class="text">ensures thread-safety, eliminating many classes of bugs at compile time.</p>
			</div>
		</div>
	</div>
</section>