description = "Rust choose"
==
<section class="choose">
	<div class="container">
		<div class="block-head">
			<h2 class="title">Why Choose <span>Rock’n’Block?</span></h2>
			<p class="text">Rock’n’Block helps startups and enterprises build highly performant dApps and other Web3 solutions using Rust. Our developers combine the safety, speed and efficiency of this statically typed, multi-paradigm programming language to produce decentralized programs for your needs.</p><a class="button" href="#contact-us">Contact our Rust experts<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
		</div>
	</div>
</section>