description = "Rust hero"
==
<section class="hero">
	<div class="container">
		<div class="block-head">
			<h1 class="title"> <span>Rust <br></span>Development services</h1>
			<p class="text">Create next-level systems software with tomorrow’s vision</p><a class="button" href="#contact-us">Let’s Rust<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
		</div>
		<picture class="img">
			<source type="image/webp" srcset="{{ 'assets/images/site/rust/hero.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/rust/hero.png'| theme }}" alt="Rust Development services" />
		</picture>
	</div>
</section>