description = "Rust use"
==
<section class="use">
	<div class="container">
		<div class="block-head">
			<h2 class="title">Which company <span>is using Rust?</span></h2>
		</div>
		<div class="content">
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-amazon.svg'| theme }}" alt="amazon logo" /></div>
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-microsoft.svg'| theme }}" alt="microsoft logo" /></div>
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-facebook.svg'| theme }}" alt="facebook logo" /></div>
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-dropbox.svg'| theme }}" alt="dropbox logo" /></div>
		</div>
	</div>
</section>