description = "Rust use"
==
<section class="use">
	<div class="container">
		<div class="block-head">
			<h2 class="title">Which company <span>is using Rust?</span></h2>
		</div>
		<div class="content">
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-amazon.svg'| theme }}" alt="amazon logo" /><span class="title">Amazon</span></div>
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-microsoft.svg'| theme }}" alt="microsoft logo" /><span class="title">Microsoft Corporation</span></div>
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-facebook.svg'| theme }}" alt="facebook logo" /><span class="title">Facebook</span></div>
			<div class="use-item"><img loading="lazy" src="{{ 'assets/images/site/rust/use-dropbox.svg'| theme }}" alt="dropbox logo" /><span class="title">Dropbox</span></div>
		</div>
	</div>
</section>