description = "Rust why use"
==
<section class="why-use">
	<div class="container">
		<div class="block-head">
			<h2 class="title">Why use the <span>Rust programming </span>language for your project?</h2>
			<p class="text">Rust is the most beloved programming language among developers, according to the Stack Overflow survey. It is often compared with the C/C++ programming language regarding the level of control over what a computer is doing for you while maintaining a <span>low performance overhead. <br /> <br /></span>As a multi-paradigm, high-level, general-purpose programming language, Rust shares similar syntax with C and C++ but offers a higher level of memory safety without using a garbage collector.
				<br /><span>That is why anything you can do with C/C++ you can do with Rust, but better!</span>
			</p>
		</div>
	</div>
</section>