description = "No Code feature"
==
<section class="feature">
	<div class="container">
		<div class="block-head">
			<h2 class="title">Features</h2>
		</div>
		<div class="content">
			<div class="feature-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/feature-contract.svg'| theme }}" alt="Smart Contracts Library" />
				<h3 class="title">Smart Contracts Library</h3>
			</div>
			<div class="feature-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/feature-networks.svg'| theme }}" alt="11 Supported networks" />
				<h3 class="title">11 Supported networks</h3>
			</div>
			<div class="feature-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/feature-pre-audit.svg'| theme }}" alt="Pre-audited Smart Contracts" />
				<h3 class="title">Pre-audited Smart Contracts</h3>
			</div>
			<div class="feature-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/feature-automatic-deployment.svg'| theme }}" alt="Automatic Deployment" />
				<h3 class="title">Automatic Deployment</h3>
			</div>
			<div class="feature-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/feature-ownership.svg'| theme }}" alt="100% ownership to the user" />
				<h3 class="title">100% ownership to the user</h3>
			</div>
			<div class="feature-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/feature-service.svg'| theme }}" alt="Service Extension: Verification, Branded report" />
				<h3 class="title">Service Extension: Verification, Branded report</h3>
			</div>
		</div>
	</div>
</section>