description = "No Code grant"
==
<section class="grant">
	<div class="container">
		<div class="block-head">
			<h1 class="title">Grants</h1>
		</div>
		<div class="content"><img loading="lazy" src="{{ 'assets/images/site/no-code/binance.svg'| theme }}" alt="binance smart chain" /><img loading="lazy" src="{{ 'assets/images/site/no-code/neo.svg'| theme }}" alt="neo" /><img loading="lazy" src="{{ 'assets/images/site/no-code/polygon.svg'| theme }}" alt="polygon" /><img loading="lazy" src="{{ 'assets/images/site/no-code/certic.svg'| theme }}" alt="certic" /><img loading="lazy" src="{{ 'assets/images/site/no-code/tron.svg'| theme }}" alt="tron" /><img loading="lazy" src="{{ 'assets/images/site/no-code/waves.svg'| theme }}" alt="waves" /></div>
	</div>
</section>