description = "No Code hero"
==
<section class="hero">
	<div class="container">
		<div class="block-head">
			<h1 class="title"> <span class="text-border">No Code </span>Blockchain Solutions</h1>
			<p class="text">Create and Launch Smart Contract without coding, right from your browser.</p><a class="button" href="#contact-us">Launch app<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
		</div>
		<picture class="img">
			<source type="image/webp" srcset="{{ 'assets/images/site/no-code/hero.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/no-code/hero.png'| theme }}" alt="No Code Blockchain Solutions" />
		</picture>
	</div>
</section>