description = "No Code library"
==
<section class="library">
	<div class="container">
		<div class="block-head">
			<h2 class="title">Smart contracts library:</h2>
		</div>
		<div class="content">
			<div class="library-item">
				<div class="img"><img loading="lazy" src="{{ 'assets/images/site/no-code/library-token.svg'| theme }}" alt="Token contract" /></div>
				<h3 class="title">Token contract</h3>
			</div>
			<div class="library-item">
				<div class="img"><img loading="lazy" src="{{ 'assets/images/site/no-code/library-crowdsale.svg'| theme }}" alt="Crowdsale Contract" /></div>
				<h3 class="title">Crowdsale Contract</h3>
			</div>
			<div class="library-item">
				<div class="img"><img loading="lazy" src="{{ 'assets/images/site/no-code/library-airdrop.svg'| theme }}" alt="Airdrop Contract" /></div>
				<h3 class="title">Airdrop Contract</h3>
			</div>
			<div class="library-item">
				<div class="img"><img loading="lazy" src="{{ 'assets/images/site/no-code/library-protactor.svg'| theme }}" alt="Token Protector" /></div>
				<h3 class="title">Token Protector</h3>
			</div>
			<div class="library-item">
				<div class="img"><img loading="lazy" src="{{ 'assets/images/site/no-code/library-lost-key.svg'| theme }}" alt="Lost Key Contract" /></div>
				<h3 class="title">Lost Key Contract</h3>
			</div>
			<div class="library-item">
				<div class="img"><img loading="lazy" src="{{ 'assets/images/site/no-code/library-deferrer-payment.svg'| theme }}" alt="Deferred Payment" /></div>
				<h3 class="title">Deferred Payment </h3>
			</div>
		</div>
	</div>
</section>