description = "No Code network"
==
<section class="network">
	<div class="container">
		<div class="block-head">
			<h1 class="title">Supported networks:</h1>
		</div>
		<div class="content">
			<div class="swiper swiper-networks">
				<div class="navigation"><img class="network-nav-prev" src="{{ 'assets/images/site/gamefi/arrow-left.svg'| theme }}" alt="nav left" /><img class="network-nav-next" src="{{ 'assets/images/site/gamefi/arrow-right.svg'| theme }}" alt="nav right" /></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide slide">
						<div class="network-item large">
							<div class="top">
								<h3 class="title">Ethereum </h3>
								<p class="text">Create and Deploy predesigned smart contracts template to Ethereum Mainnet and Testnet with a few clicks. You can customise and define the parameters, choose contract functions and get 100% ownership of your contract.</p><a class="button" href="#contact-us">Discover solutions<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
							</div>
							<div class="bottom">
								<picture class="img">
									<source type="image/webp" srcset="{{ 'assets/images/site/no-code/network-logo-ethereum.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/no-code/network-logo-ethereum.png'| theme }}" alt="Ethereum" />
								</picture><span class="bottom-title">Contracts:</span>
								<div class="bottom-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/network-contract-crowdsale.svg'| theme }}" alt="Crowdsale" /><span class="item-title">Crowdsale</span></div>
								<div class="bottom-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/network-contract-airdrop.svg'| theme }}" alt="Aidrop" /><span class="item-title">Aidrop</span></div>
								<div class="bottom-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/network-contract-lostkey.svg'| theme }}" alt="Lost key" /><span class="item-title">Lost key</span></div>
								<div class="bottom-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/network-contract-defferent-payment.svg'| theme }}" alt="Deffered Payment" /><span class="item-title">Deffered Payment</span></div>
								<div class="bottom-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/network-contract-investment-pool.svg'| theme }}" alt="Investment pool" /><span class="item-title">Investment pool</span></div>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide">
						<div class="network-item short">
							<div class="top">
								<picture class="img">
									<source type="image/webp" srcset="{{ 'assets/images/site/no-code/network-logo-solana.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/no-code/network-logo-solana.png'| theme }}" alt="Solana" />
								</picture><span class="title">Solana</span>
								<p class="text">Create and Manage Solana SPL tokens with MyWish no code solutions</p><a class="button" href="#contact-us">Discover solutions<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
							</div>
						</div>
						<div class="network-item short">
							<div class="top">
								<picture class="img">
									<source type="image/webp" srcset="{{ 'assets/images/site/no-code/network-logo-moonriver.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/no-code/network-logo-moonriver.png'| theme }}" alt="Moonriver" />
								</picture><span class="title">Moonriver</span>
								<p class="text">Create and Manage Moonriver based ERC20 tokens with MyWish no code solutions</p><a class="button" href="#contact-us">Discover solutions<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide">
						<div class="network-item short">
							<div class="top">
								<picture class="img">
									<source type="image/webp" srcset="{{ 'assets/images/site/no-code/network-logo-tron.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/no-code/network-logo-tron.png'| theme }}" alt="Tron" />
								</picture><span class="title">Tron</span>
								<p class="text">Create, Manage, and Distribute TRC20 Polygon based tokens with MyWish no code solutions</p><a class="button" href="#contact-us">Discover solutions<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
							</div>
						</div>
						<div class="network-item short">
							<div class="top">
								<picture class="img">
									<source type="image/webp" srcset="{{ 'assets/images/site/no-code/network-logo-xdc.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/no-code/network-logo-xdc.png'| theme }}" alt="XDC" />
								</picture><span class="title">XDC</span>
								<p class="text">Create and Manage XDC based XRC20 tokens with MyWish no code solutions</p><a class="button" href="#contact-us">Discover solutions<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide">
						<div class="network-item large left" style="--network-large-color: #EFD12B;">
							<div class="top">
								<h3 class="title">BNB Smart Chain</h3>
								<p class="text">Create and Deploy predesigned smart contracts template to BNB Smart Chain Mainnet and Testnet with a few clicks. You can customise and define the parameters, choose contract functions and get 100% ownership of your contract. </p><a class="button" href="#contact-us">Discover solutions<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
							</div>
							<div class="bottom">
								<picture class="img">
									<source type="image/webp" srcset="{{ 'assets/images/site/no-code/network-logo-bnb.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/no-code/network-logo-bnb.png'| theme }}" alt="Binance" />
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>