description = "No Code partner"
==
<section class="partner">
	<div class="container">
		<div class="block-head">
			<h1 class="title">Partners</h1>
		</div>
		<div class="content">
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-mywish.svg'| theme }}" alt="mywish logo" /><span class="title">MyWish</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-polygon.svg'| theme }}" alt="polygon logo" /><span class="title">Polygon</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-neo.svg'| theme }}" alt="neo logo" /><span class="title">Neo</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-moonbeam.svg'| theme }}" alt="moonbeam logo" /><span class="title">Moonbeam</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-berry.svg'| theme }}" alt="berry logo" /><span class="title">Berry</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-binance.svg'| theme }}" alt="Binance logo" /><span class="title">Binance</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-rubic.svg'| theme }}" alt="Rubic logo" /><span class="title">Rubic</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-best-rate.svg'| theme }}" alt="Best Rate logo" /></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-bancor.svg'| theme }}" alt="Bancor logo" /><span class="title">Bancor</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-waves.svg'| theme }}" alt="Waves logo" /><span class="title">Waves</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-rsk.svg'| theme }}" alt="RSK logo" /><span class="title">RSK</span></div>
			<div class="partner-item"><img loading="lazy" src="{{ 'assets/images/site/no-code/partner-algebra.svg'| theme }}" alt="Algebra logo" /><span class="title">Algebra</span></div>
		</div>
	</div>
</section>