description = "Website footer section"
==
<div class="container footer">
	<nav class="social-links">
		<ul class="social-links__list">
			<li class="social-links__link">
				<a class="icon" href="https://twitter.com/rocknblockdev" rel="noreferrer" target="_blank">
					<img src="{{ 'assets/images/site/social/icon-footer-tw-mask.svg'| theme }}" alt="twiter">
				</a>
			</li>
			<li class="social-links__link">
				<a class="icon" href="https://t.me/joinchat/WG1xLuqY2uUgc_HH" rel="noreferrer" target="_blank">
					<img src="{{ 'assets/images/site/social/icon-footer-tg-mask.svg'| theme }}" alt="telegram">
				</a>
			</li>
			<li class="social-links__link">
				<a class="icon" href="https://www.facebook.com/RocknBlockDev/?ref=br_rs" rel="noreferrer" target="_blank">
					<img src="{{ 'assets/images/site/social/icon-footer-fb-mask.svg'| theme }}" alt="facebook">
				</a>
			</li>
			<li class="social-links__link">
				<a class="icon" href="https://rocknblock.medium.com/" rel="noreferrer" target="_blank">
					<img src="{{ 'assets/images/site/social/icon-footer-medium-mask.svg'| theme }}" alt="medium">
				</a>
			</li>
			<li class="social-links__link">
				<a class="icon" href="https://www.linkedin.com/authwall?trk=ripf&amp;trkInfo=AQHvgveZGbs93QAAAXggz85o2_gQEyTCero1KbSW_FNCIX1sjFUjvezZQqiUuu2cVmo2lj4adoTCg0J8Rvb-V8pKjpQj8U3C5-qT4igU957ofdXB7BvLt6ctemMUWideBHjsZLg=&amp;originalReferer=https://rocknblock.io/&amp;sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F13060149" rel="noreferrer" target="_blank">
					<img src="{{ 'assets/images/site/social/icon-footer-in-mask.svg'| theme }}" alt="linked in">
				</a>
			</li>
			<li class="social-links__link">
				<a class="icon" href="mailto:hello@rocknblock.io" rel="noreferrer" target="_blank">
					<img src="{{ 'assets/images/site/social/icon-footer-mail-mask.svg'| theme }}" alt="email">
				</a>
			</li>
		</ul>
	</nav>
	<div class="footer-services">
		<div class="footer-services-list">
			<div class="footer-services-item">
				<span class="title">NFT Metaverse</span>
				<a class="link" href="/marketplace">NFT Marketplace</a>
				<a class="link" href="/10knft">10k nft generator</a>
				<a class="link" href="/gamefi">Gamefi</a>
				<a class="link" href="/metaverse">Metaverse</a>
			</div>
			<div class="footer-services-item">
				<span class="title">De-Fi Experience</span>
				<a class="link" href="/farming">Farming</a>
				<a class="link" href="/vesting">Vesting</a>
				<a class="link" href="/staking">Staking</a>
				<a class="link" href="/launchpad">Launchpad</a>
				<a class="link" href="/tools">Tools</a>
				<a class="link" href="/dex">Dex</a>
			</div>
			<div class="footer-services-item">
				<span class="title">Token Assistance</span>
				<a class="link" href="/token-generator">Token Generator</a>
				<a class="link" href="/crowdsale">Crowdsale Pack</a>
				<a class="link" href="/bridge">Cross-Chain Bridge</a>
				<a class="link" href="/safemoon">Deflationary</a>
				<span class="link">Tokenization Property (soon)</span>
			</div>
			<div class="footer-services-item">
				<span class="title">Blockhain Expertise</span>
				<a class="link" href="/consulting">Consulting</a>
				<a class="link" href="/security-audit">Security Audit</a>
				<a class="link" href="/rust">Rust Development</a>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="links">
			<p class="bottom__copyright-desktop">© Copyright Rock’n’Block 2022</p> <a href="/privacy-policy" target="_blank">Privacy
				Policy</a><a href="/terms-of-service" target="_blank">Terms
				of Service</a><a href="/company" target="_blank">Company</a>
		</div>
		<p class="bottom__copyright-mobile">© Copyright Rock’n’Block 2022</p>
	</div>
</div>

<div id="btnScrollToTop">
	<img src="{{ 'assets/images/site/icons/icon-arrow-top-mask.svg'| theme }}" alt="arrow top">
</div>