description = "Consulting idea"
==
<section class="idea">
	<div class="container">
		<div class="block-head">
			<h2 class="title">You have a <span>great idea but </span>don't know where to <span>start?</span></h2>
			<p class="text">We provide paid consultations with an analysis of your case and an opportunity to make a detailed plan of project implementation.</p><a class="button" href="#contact-us">Book a call<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
		</div>
	</div>
</section>