description = "Consulting need"
==
<section class="need">
	<div class="container">
		<div class="block-head">
			<h1 class="title">Whу you <span>need…</span></h1>
			<p class="text">Being the Leading Smart Contract Creator, with over 46 000 smart contracts launched on various blockchain protocols, Rock'n'Block strives to bring the blockchain network to mass adoption by making it secure, simple, and user-friendly.
				<br />
				<br />Our team is striving to share our expertise in blockchain development and cyber security with other projects working in the crypto and blockchain industry as well as other enthusiasts. Along with the growing interest in blockchain technology and crypto, the industry is getting extensive attention from hackers.
			</p>
		</div>
		<div class="need-items">
			<div class="need-item">
				<div class="need-item-text"><img loading="lazy" src="{{ 'assets/images/site/consulting/tech-spec-icon.svg'| theme }}" alt="tech spec icon" />
					<h3 class="title">Tech Spec</h3>
					<p class="text">Tech Spec is short for «technical specification». Tech Spec consists of a set of requirements related to the implementation of the project. </p>
					<p class="text">A well-written technical specification keeps your engineers on task and your stakeholders well-informed by making sure that everyone sees it from the same point of view.</p>
					<p class="text">Our lead engineers making sure that technical specifications Report everything known about the product requirements. It also Informs its goals, features, limitations, and the timeline necessary to build it.</p>
				</div>
				<div class="need-item-img">
					<picture class="img">
						<source type="image/webp" srcset="{{ 'assets/images/site/consulting/tech-spec.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/consulting/tech-spec.png'| theme }}" alt="Tech Spec " />
					</picture>
				</div>
			</div>
			<div class="need-item revert">
				<div class="need-item-text"><img loading="lazy" src="{{ 'assets/images/site/consulting/white-paper-icon.svg'| theme }}" alt="white paper icon" />
					<h3 class="title">White Paper</h3>
					<p class="text">White Paper is one of the main documents that every project should have. Usually the white paper contains the basic concept and philosophical idea of the project. </p>
					<p class="text">The purpose of a White Paper is to promote a particular product, service, technology, or methodology, and to influence the decisions of current and potential customers or investors.</p>
					<p class="text">There are three main types of white papers: backgrounders, which explain the technical features of a particular offering; numbered lists, which highlight tips or points regarding an offering; and problem solution white papers, which introduce an improved solution to a common business or technical challenge.</p>
				</div>
				<div class="need-item-img">
					<picture class="img">
						<source type="image/webp" srcset="{{ 'assets/images/site/consulting/white-paper.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/consulting/white-paper.png'| theme }}" alt="White Paper " />
					</picture>
				</div>
			</div>
			<div class="need-item">
				<div class="need-item-text"><img loading="lazy" src="{{ 'assets/images/site/consulting/light-paper-icon.svg'| theme }}" alt="light paper icon" />
					<h3 class="title">Light Paper</h3>
					<p class="text">A Lite Paper is a shortened and concise version of a whitepaper, applicable to both technical and business whitepapers. It summarizes the contents of a whitepaper while maintaining the significant points of the whole document.</p>
					<p class="text">Lite Paper allows users to read the fundamentals of a project at a shorter time and gives them time to decide if they would proceed with checking the full whitepaper.</p>
				</div>
				<div class="need-item-img">
					<picture class="img">
						<source type="image/webp" srcset="{{ 'assets/images/site/consulting/light-paper.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/consulting/light-paper.png'| theme }}" alt="Light Paper " />
					</picture>
				</div>
			</div>
		</div>
	</div>
</section>