description = "Below safemoon"
==
<section class="below">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Below mentioned are some of the popular deflationary tokens of various blockchain networks.</h2>
    </div>
    <div class="content">
      <div class="below-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/logo-safemoon.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/logo-safemoon.png'| theme }}" alt="logo safemoon" />
        </picture>
        <h3 class="title" data-text="">SafeMoon</h3>
      </div>
      <div class="below-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/logo-vanilla.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/logo-vanilla.png'| theme }}" alt="logo vanilla network" />
        </picture>
        <h3 class="title" data-text="VNLA">Vanilla Network</h3>
      </div>
      <div class="below-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/logo-spore.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/logo-spore.png'| theme }}" alt="logo spore" />
        </picture>
        <h3 class="title" data-text="SPORE">Spore</h3>
      </div>
      <div class="below-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/logo-sake.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/logo-sake.png'| theme }}" alt="logo sake token" />
        </picture>
        <h3 class="title" data-text="SAKE">Sake Token</h3>
      </div>
      <div class="below-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/logo-yfdai.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/logo-yfdai.png'| theme }}" alt="logo yfdai finance" />
        </picture>
        <h3 class="title" data-text="YF-DAI">YFDAI.Finance</h3>
      </div>
    </div>
  </div>
</section>