description = "Benefits safemoon"
==
<section class="benefits">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Benefits of Deflationary Tokens</h2>
    </div>
    <div class="content">
      <div class="benefits-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/benefits-coin.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/benefits-coin.png'| theme }}" alt="benefit coin" />
        </picture>
        <p class="text">It helps in maintaining a stable price of the token value once listed for trading.</p>
      </div>
      <div class="benefits-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/benefits-chart.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/benefits-chart.png'| theme }}" alt="benefit chart" />
        </picture>
        <p class="text">It increases liquidity as the demand for the assets on the market is higher.</p>
      </div>
      <div class="benefits-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/benefits-investor.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/safemoon/benefits-investor.png'| theme }}" alt="benefit investor" />
        </picture>
        <p class="text">Due to the minimum supply of tokens, a large scale of investors is attracted towards it.</p>
      </div>
    </div>
  </div>
</section>