description = "How it works safemoon"
==
<section class="how-it-works">
  <div class="container">
    <div class="block-head">
      <h2 class="title">How deflationary tokens work</h2>
    </div>
    <div class="content">
      <img class="h-mobile" loading="lazy" src="{{ 'assets/images/site/safemoon/chain-transactions.svg'| theme }}" alt="chain transactions" />
      <img class="h-desktop" loading="lazy" src="{{ 'assets/images/site/safemoon/chain-transactions-mob.svg'| theme }}" alt="chain transactions" />
      <a class="button" href="#contact-us">Learn more on our Blog<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
  </div>
</section>