description = "What-are safemoon"
==

<section class="what-are">
  <div class="container">
    <div class="block-head">
      <h2 class="title">What are Deflationary Tokens?</h2>
      <p class="text">A deflationary token model is where a particular percentage of tokens are removed from the market each time a token transfer takes place. The process of removing these tokens from the market is termed, Burns. The burning of these tokens can be carried out by two different mechanisms as follows:</p>
    </div>
    <div class="content">
      <div class="what-are-item">
        <div class="what-are-item-top">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/what-2.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/safemoon/what-2.png'| theme }}" alt="Buy back" />
          </picture>
          <h3 class="title">Buy back</h3>
        </div>
        <p class="text">A mechanism happens when a project removes a particular amount of its tokens from the market by sending them to a dead address, thus eliminates those tokens permanently. After that, the same project uses its very own funds to repurchase an amount of those burnt tokens and hold them in their wallets. </p>
      </div>
      <div class="what-are-item">
        <div class="what-are-item-top">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/safemoon/what-1.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/safemoon/what-1.png'| theme }}" alt="Burn on Transaction" />
          </picture>
          <h3 class="title">Burn<br />on Transaction</h3>
        </div>
        <p class="text">A method where a particular amount of tokens from the sender account is decreased and thus led to a decreased supply of tokens in the blockchain. This Burn transaction can be sent by any user who owns a token. </p>
      </div>
    </div>
  </div>
</section>