description = "Decentralization metaverse"
==
<section class="decentralization">
  <div class="container">
    <div class="block-head">
      <h2 class="title">DECENTRALIZATION </h2>
      <p class="text">The main puzzle piece in the metaverse is its decentralization. Blockchain provides a field for an independent and safe ecosystem. Would you trust a place if you knew that you can’t be controlled there?</p>
    </div>
  </div>
  <picture class="img">
    <source type="image/webp" srcset="{{ 'assets/images/site/metaverse/decentralization.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/metaverse/decentralization.png'| theme }}" alt="decentralization" />
  </picture>
</section>