description = "Hero metaverse"
==
<section class="hero">
  <div class="container">
    <div class="block-head">
      <div class="hero-title">
        <h1 class="title">Metaverse</h1><img loading="lazy" src="{{ 'assets/images/site/metaverse/metaverse.png'| theme }}" alt="metaverse" />
      </div>
      <p class="text">build your digital world with blockchain integration</p><a class="button" href="#contact-us">Get free consultation<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
  </div>
  <picture class="img">
    <source type="image/webp" srcset="{{ 'assets/images/site/metaverse/hero.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/metaverse/hero.png'| theme }}" alt="metaverse image" />
  </picture>
</section>