description = "Roadmap metaverse"
==
<section class="roadmap">
  <div class="container">
    <div class="block-head">
      <h2 class="title">YOUR METAVERSE BLOCKCHAIN <span>ROADMAP</span></h2>
    </div>
    <div class="content"><img class="h-mob" loading="lazy" src="{{ 'assets/images/site/metaverse/roadmap.svg'| theme }}" alt="metaverse blockchain roadmap" /><img class="h-desk" loading="lazy" src="{{ 'assets/images/site/metaverse/roadmap-mob.svg'| theme }}" alt="metaverse blockchain roadmap" /></div>
  </div>
</section>