description = "Tokenizing metaverse"
==
<section class="tokenizing">
  <div class="container">
    <div class="block-head">
      <h2 class="title"> <span>TOKENIZING </span>EVERYTHING</h2>
    </div>
    <div class="content">
      <div class="tokenizing-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/metaverse/nft.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/metaverse/nft.png'| theme }}" alt="metaverse nft" />
        </picture>
        <h3 class="title">NFT ITEMS</h3>
        <p class="text">Items, perks, skins, and all other objects can be NFTs. A built-in marketplace becomes the main store for the whole community. Easy to store, easy to use, easy to share.</p>
      </div>
      <div class="tokenizing-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/metaverse/identity.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/metaverse/identity.png'| theme }}" alt="metaverse identity" />
        </picture>
        <h3 class="title">IDENTITY</h3>
        <p class="text">Users’ avatars can also be embodied in non-fungible tokens. Personalization and anonymity are important for many, and they both can exist in this world.</p>
      </div>
      <div class="tokenizing-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/metaverse/economy.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/metaverse/economy.png'| theme }}" alt="metaverse economy" />
        </picture>
        <h3 class="title">ECONOMY</h3>
        <p class="text">Users play to earn, exchange and build the economy. Each person can make an effort and get a comparable result. Assets are not controlled by elites but created and moved on equal terms.</p>
      </div>
    </div>
  </div>
</section>