description = "Variability metaverse"
==
<section class="variability">
  <div class="block-head">
    <h2 class="title">VARIABILITY OF PACKAGES</h2>
    <p class="text">Metaverse is abstract until it’s created. Only your imagination decides if it is going to be a 2D or 3D world, based on a game, VR required, etc.</p>
  </div>
  <div class="content">
    <div class="variability-item">
      <h3 class="title">CONNECT</h3>
      <ul>
        <li>Any blockchain integration</li>
        <li>Built-in NFT marketplace</li>
        <li>721 and 1155 NFTs minting</li>
        <li>Interaction elements creation</li>
        <li class="not">Game development</li>
        <li class="not">VR/AR support</li>
      </ul>
    </div>
    <div class="variability-item active">
      <h3 class="title">GAMEFI</h3>
      <ul>
        <li>Any blockchain integration</li>
        <li>Built-in NFT marketplace</li>
        <li>721 and 1155 NFTs minting</li>
        <li>Interaction elements creation</li>
        <li>Game development</li>
        <li class="not">VR/AR support</li>
      </ul>
    </div>
    <div class="variability-item">
      <h3 class="title">BRAVE NEW WORLD</h3>
      <ul>
        <li>Any blockchain integration </li>
        <li>Built-in NFT marketplace </li>
        <li>721 and 1155 NFTs minting </li>
        <li>Interaction elements creation </li>
        <li>Game development </li>
        <li>VR/AR support</li>
      </ul>
    </div>
  </div><a class="button" href="#contact-us">CONTACT US<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
</section>