description = "Interface tools"
==
<section class="interface">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Tools Interface</h2>
    </div>
    <div class="content">
      <div class="interface-item">
        <div class="interface-item-top">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/tools/tools-uni.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/tools/tools-uni.png'| theme }}" alt="tools uni" />
          </picture><span class="title">HOT UNI</span>
        </div>
        <div class="interface-item-content">
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row tools-interface-down">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row tools-interface-down">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
        </div>
      </div>
      <div class="interface-item h-mobile">
        <div class="interface-item-top">
          <picture class="img">
            <source type="image/webp" srcset="{{ 'assets/images/site/tools/tools-sushi.webp'| theme }}" /><img loading="lazy" src="{{ 'assets/images/site/tools/tools-sushi.png'| theme }}" alt="tools-sushi" />
          </picture><span class="title">HOT SUSHI</span>
        </div>
        <div class="interface-item-content">
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row tools-interface-down">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row tools-interface-down">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row tools-interface-down">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
          <div class="interface-item-row">
            <div class="interface-item-row-info"><span class="title">Name</span><span class="price">$0.04641953</span></div><img class="img" loading="lazy" src="{{ 'assets/images/site/tools/link.svg'| theme }}" alt="link tools" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>