description = "Need tools"
==
<section class="need">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Why do you need to build your Tools Platform?</h2>
      <p class="text">To provide users with an analysis of your portfolio, set up alerts, and get real-time insights. Get an overview of the market, and track coins in the watchlist. Rock'n'Block provides development solutions an insightful dashboard, available in both mobile and desktop to keep track of performance and transactions in real-time with an amazing user experience.</p>
      <a style="max-width: 270px;" class="button" href="#contact-us">CREATE OWN TOOLS<img loading="lazy" src="{{ 'assets/images/site/icons/icon-arrow-right-mask.svg'| theme }}" alt="arrow right" /></a>
    </div>
  </div>
</section>