description = "Tracking tools"
==
<section class="tracking">
  <div class="container">
    <div class="block-head">
      <h2 class="title">Tools Options for tracking</h2>
    </div>
    <div class="content">
      <div class="tracking-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/pie-chart.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/pie-chart.png'| theme }}" alt="pie-chart" />
        </picture>
        <h3 class="title">Charts</h3>
        <p class="text">Charts — Follow and analyze the best pairs with real-time graphics, transactions, and much more.</p>
      </div>
      <div class="tracking-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/top.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/top.png'| theme }}" alt="top" />
        </picture>
        <h3 class="title">Top gainers</h3>
        <p class="text">Coins with the biggest gains in the last 24 hours</p>
      </div>
      <div class="tracking-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/wallet.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/wallet.png'| theme }}" alt="wallet" />
        </picture>
        <h3 class="title">Wallet Info</h3>
        <p class="text">Save, track, and research wallets</p>
      </div>
      <div class="tracking-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/notification-bell.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/notification-bell.png'| theme }}" alt="notification-bell" />
        </picture>
        <h3 class="title">Notifications</h3>
        <p class="text">Get live notifications on your favorite coins and pairs.</p>
      </div>
      <div class="tracking-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/robot.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/robot.png'| theme }}" alt="robot" />
        </picture>
        <h3 class="title">Bots</h3>
        <p class="text">Create your own trading strategies for maximum profitability.</p>
      </div>
      <div class="tracking-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/subscription.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/subscription.png'| theme }}" alt="tools" />
        </picture>
        <h3 class="title">Subscriptions</h3>
        <p class="text">Stake tokens to enable features.</p>
      </div>
    </div>
  </div>
</section>