description = "What are tools"
==
<section class="what-are">
  <div class="container">
    <div class="block-head">
      <h2 class="title">What are the tools for</h2>
    </div>
    <div class="content">
      <div class="what-are-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/prediction.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/prediction.png'| theme }}" alt="Prediction of the market movement" />
        </picture>
        <h3 class="title">Prediction of the market movement</h3>
      </div>
      <div class="what-are-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/exploration.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/exploration.png'| theme }}" alt="Exploration of various pools, pairs, and swaps" />
        </picture>
        <h3 class="title">Exploration of various pools, pairs, and swaps</h3>
      </div>
      <div class="what-are-item">
        <picture class="img">
          <source type="image/webp" srcset="{{ 'assets/images/site/tools/evalution.webp'| theme }}" />
          <img loading="lazy" src="{{ 'assets/images/site/tools/evalution.png'| theme }}" alt="Evaluation of real-time data, for successful trading strategies" />
        </picture>
        <h3 class="title">Evaluation of real-time data, for successful trading strategies</h3>
      </div>
    </div>
  </div>
</section>